.coder{
	display: block;
	background-color: black;
	cursor: pointer;
	width: 200px;
	height: auto;
	margin: 5px;
	border-radius: 10px;
	position: relative; 
	transition: 0.2s;
	padding: 1px;

}
#select{
	margin: 20px;	
	border-radius: 10px;
}

.coder:hover{
	opacity: 0.7;
}
.box-image:hover .text{
	opacity: 0.7;
	display: inline-block;
}
body{
  font-family: "Meli Brush", Georgia, Serif;;
  

}
.text{
	font-size: 20px;
	opacity: 0;
	color: black;
	position: absolute;
	z-index: 5;
	margin-left: 30px;
	margin-top: -100px;
	transition: 0.2s;
} 